# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# IDE/Editor files
.vscode/
.idea/

# System files
.DS_Store

# Logs and temporary files
*.log


node_modules/
package-lock.json
../node_modules/
../package-lock.json


tmp_emails/